extend ../layouts/common.pug

block content
    h1 Create user
    if errors 
        each error in errors
            .alert.alert-danger  #{error}

    form(action="/users/create",method="POST")
        .form-group
            label(for="name") Name  
            input#name.form-control(type="text",name="name",value=values ? values.name : '')
        .form-group
            label(for="Phone") Phone  
            input#Phone.form-control(type="text",name="phone",value = values ? values.phone : '')

        button.btn.btn-success Create
