extend ../layouts/common.pug

block content
    .d-flex.align-items-center
        a.btn.btn-primary.mb-3(href='/users/create', role='button') New
        form.ml-auto(action="/users/search",method="GET",class="d-flex")
            input(type="text",name="q",class="form-control")
            button(class="btn btn-primary ml-2") Search

    table.table.table-dark
        tr
            th Name
             th Phone
            th Actions
        each user in users
            tr
                 td #{user.name}
                 td #{user.phone}
                 td
                    a.btn.btn-info(href="/users/"+ user.id) View